extends layout.pug

block title
    | Credits


block content
    .container

        h1.has-text-info.is-size-3 My Credits
        br

        .columns
            .column.is-6
                .box.h-100
                    | 0 Total Credits

            .column.is-6
                .box.h-100
                    | My Coupon


