extends layout.pug

block title
    | Dashboard


block content
    .container
        .columns
            .column.is-4
                .box.h-100
                    | My Shopping List

            .column.is-4
                .box.h-100
                    | Online Orders

            .column.is-4
                .box.h-100
                    | Favourites

        br
        br

        .columns
            .column.is-12
                .box.h-100
                    | Progress of Last Order
        br
        br
        
        .columns
            .column.is-12
                .box.h-100
                    | Address