extends layout.pug

block title
    | Orders


block content
    .container

        h1.has-text-info.is-size-3 My Orders

        br

        .columns

            .column.is-4.is-12-tablet.is-12-mobile
                form(action="", method="post")
                    .field.is-fullwidth
                        .control
                            input.input(type="text", placeholder="Search")
                            


            .column.is-8.is-hidden-touch
                | &nbsp;
   

        .columns
            .column.is-12
                .table-container.is-fullwidth
                    table.table.is-bordered
                        thead
                            tr  
                                th Order #
                                th Order Date
                                th Status
                        tbody
                            tr  
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                            tr  
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;

        

        .columns
            .column.is-8.is-hidden-touch
                | &nbsp;
            
            .column.is-4.is-12-tablet.is-12-mobile
                nav.pagination.custom-pagination.is-right(role='navigation', aria-label='pagination')
                    ul.pagination-list
                        li
                            a.pagination-link(aria-label='Previous') 
                                i.las.la-angle-double-left

                        li
                            a.pagination-link.is-current(aria-label='Page 1') 
                                | 1
                        
                        li
                            a.pagination-link(aria-label='Page 2') 
                                | 2
                        
                        li
                            a.pagination-link(aria-label='Page 3') 
                                | 3

                        li
                            a.pagination-link(aria-label='Next') 
                                i.las.la-angle-double-right
                            


