extends layout.pug

block title
    | History

block content
    .container
        h1.has-text-info.is-size-3 History
        br

        .columns
            .column.is-12-desktop.is-12-tablet.is-12-mobile
                form(action="", method="post")
                    .field.is-grouped
                        p.control
                            a.button.is-dark
                                | Secondary
                        p.control
                            .select.is-fullwidth
                                select
                                    option Select dropdown
                                    option With options

        .columns
            .column.is-12-desktop.is-12-tablet.is-12-mobile
                .table-container.is-fullwidth
                    table.table.is-bordered
                        thead
                            tr  
                                
                                th Date
                                th Barcode
                                th Pickup Address
                                th Customer Address
                                th Status
                        tbody
                            tr  
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;

                            tr  
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;
                                td
                                    | &nbsp;


        .columns
            .column.is-12-desktop.is-12-tablet.is-12-mobile
                nav.pagination.custom-pagination.is-right(role='navigation', aria-label='pagination')
                    ul.pagination-list
                        li
                            a.pagination-link(aria-label='Previous') 
                                i.las.la-angle-double-left

                        li
                            a.pagination-link.is-current(aria-label='Page 1') 
                                | 1
                        
                        li
                            a.pagination-link(aria-label='Page 2') 
                                | 2
                        
                        li
                            a.pagination-link(aria-label='Page 3') 
                                | 3

                        li
                            a.pagination-link(aria-label='Next') 
                                i.las.la-angle-double-right
                        