extends layout.pug

block title
    | Orders


block content
    .container

        h1.has-text-info.is-size-3 ORDER #
        br
        .tabs.is-toggle.is-fullwidth
            ul
                li
                    a
                        span Barcode
                li
                    a
                        span Customer's Address
                li
                    a
                        span Vendor's Address
                li
                    a
                        span Weight

        
        

