html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            block title
            |  - Admin Dashboard - ACME 
            
        link(rel="stylesheet", href="/css/bulma.css")
        link(rel="stylesheet", href="/css/line-awesome.css")
        link(rel="stylesheet", href="/css/style.css")

        block stylesheets
    body
        .container.is-fluid.wrap-up
            //- Top Navigation
            nav.navbar.top-nav(role='navigation' aria-label='main navigation')
                .navbar-brand
                    a.navbar-item
                        | ACME

                a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                #navbarBasicExample.navbar-menu
                    
                    .navbar-end
                        .navbar-item
                            input.input(type="text", placeholder="Search")
                        a.navbar-item
                            i.las.la-bell.la-2x
                        a.navbar-item
                            i.las.la-user.la-2x

                            

        
            .columns.is-fullheight
                .column.is-2
                    //- Side Menu
                    aside.menu.side-menu
                        p.menu-label
                            i.las.la-tachometer-alt.la-2x
                            | Admin Dashboard
                        ul.menu-list
                            li
                                a(href="/admin/dashboard.html") Home

                        //- Sales MENU
                        p.menu-label
                            i.las.la-coins.la-2x
                            | Sales
                        ul.menu-list
                            li
                                a(href="/admin/orders.html") Orders
                            li
                                a(href="/admin/invoice.html") Invoices
                            li
                                a(href="/admin/transactions.html") Transactions
                            li
                                a(href="/admin/approve-order.html") Approve Orders
                            li
                                a(href="/admin/abandoned-carts.html") Abandoned Carts
                            li
                                a(href="/admin/unfulfilled-orders.html") Unfulfilled Orders


                        //- Reports MENU
                        p.menu-label
                            i.las.la-chart-bar.la-2x
                            | Reports
                        ul.menu-list
                            li
                                a(href="/admin/orders-report.html") Orders Report
                            li
                                a(href="/admin/order-all-report.html") Order Total Report
                            li
                                a(href="/admin/ordered-products-report.html") Ordered Products Report
                            li
                                a(href="/admin/product-views-report.html") Product Views Report
                            li
                                a(href="/admin/product-reviews-report.html") Product Reviews Report
                            li
                                a(href="/admin/downloads-report.html") Downloads Report
                            li
                                a(href="/admin/product-low-stock-report.html") Product Low Stock  Report
                            li
                                a(href="/admin/drivers-report.html") Drivers Report 
                            li
                                a(href="/admin/invoice-report.html") Invoice Report 
                            li
                                a(href="/admin/new-accounts-report.html") New Accounts Report 
                            li
                                a(href="/admin/refunds-report.html") Refunds Report
                            li
                                a(href="/admin/best-seller-report.html") Best Seller Report
                            li
                                a(href="/admin/customer-reviews-report.html") Customer Reviews Report
                            li
                                a(href="/admin/sales-report.html") Sales Report
                                a(href="/admin/sattlement-report.html") Sattlements Report
                                
                        //- Stores MENU
                        p.menu-label
                            i.las.la-store.la-2x
                            | Stores
                        ul.menu-list
                            li
                                a(href="/admin/all-vendors.html") Vendors
                            

                        //- Customers MENU
                        p.menu-label
                            i.las.la-users.la-2x
                            | Users
                        ul.menu-list
                            li
                                a(href="/admin/add-users.html") Add Users
                            li
                                a(href="/admin/manage-users.html") Manage Users
                            li
                                a(href="/admin/all-customers.html") All Customers
                            li
                                a(href="/admin/online-customers.html") Online Customers

                        //- Products MENU
                        p.menu-label
                            i.las.la-boxes.la-2x
                            | Products
                        ul.menu-list
                            li
                                a(href="/admin/all-products.html") View Products
                            li
                                a(href="/admin/add-product.html") Add Product
                            li
                                a(href="/admin/product-add-category.html") Add Category
                            
                                
                        p.menu-label
                            i.las.la-truck.la-2x
                            | Drivers
                        ul.menu-list
                            li
                                a(href="/admin/add-driver.html") Add Driver
                            li
                                a(href="/admin/all-drivers.html") View Drivers


                .column.is-10
                    .content-wrapper
                        block content



        

        script(src="/js/script.js")

        block scripts
            
            