extends layout.pug

block title
    | Home

block content
    .homepage-wrapper
        .form-wrapper
            form(action="", method="get")
                .field
                    .control
                        input.input(type='search', placeholder='Location')
                        i.las.la-map-marker.la-2x
                .field
                    .control
                        button.button.is-info(type="submit")
                            | Start Shopping
